<ActionBar title="Productos"></ActionBar>

<PullToRefresh
  (refresh)="onPullToRefresh($event)">

  <ListView [items]="productos">

    <ng-template let-producto="item">

      <StackLayout class="m-b-20 p-10">

        <StackLayout
          (tap)="onProductoTap(producto)">

          <Label
            [text]="producto.nombre"
            class="h3">
          </Label>

          <Label
            [text]="producto.descripcion"
            textWrap="true">
          </Label>

          <Label
            [text]="'$' + producto.precio"
            class="h4">
          </Label>

        </StackLayout>

        <Button
          text="Seleccionar categoría"
          (tap)="seleccionarCategoria(producto); animarBoton($event)"
          (longPress)="onProductoLongPress(producto)"
          class="m-t-10">
        </Button>

        <Label
          *ngIf="producto.categoria"
          [text]="'Categoría: ' + producto.categoria"
          class="m-t-5">
        </Label>

      </StackLayout>

    </ng-template>

  </ListView>

</PullToRefresh>