<ActionBar title="Buscar productos"></ActionBar>

<StackLayout class="page__content">

  <Label
    text="Buscar productos"
    class="h2 text-center">
  </Label>

  <TextField
    hint="Escribe el nombre del producto"
    [(ngModel)]="textoBusqueda"
    appMinimoCaracteres>
  </TextField>

  <Button
    text="Buscar"
    (tap)="buscarProductos()">
  </Button>

  <Label
    *ngIf="textoBusqueda.length > 0 && textoBusqueda.length < 3"
    text="Debes escribir al menos 3 caracteres."
    class="text-danger">
  </Label>

  <ListView [items]="productosFiltrados">

    <ng-template let-producto="item">

      <GridLayout
        columns="*, auto"
        class="p-10">

        <StackLayout col="0">

          <Label
            [text]="producto.nombre"
            class="h3">
          </Label>

          <Label
            [text]="producto.descripcion"
            textWrap="true">
          </Label>

          <Label
            [text]="'$' + producto.precio"
            class="h4">
          </Label>

        </StackLayout>

        <Button
          col="1"
          text="★"
          (tap)="guardarFavorito(producto)">
        </Button>

      </GridLayout>

    </ng-template>

  </ListView>

</StackLayout>

