<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>

  <GridLayout columns="50, *">
    <Label
      class="action-bar-title"
      text="Settings"
      colSpan="2">
    </Label>

    <Label
      class="fas"
      text="&#xf0c9;"
      (tap)="onDrawerButtonTap()">
    </Label>
  </GridLayout>
</ActionBar>

<StackLayout class="page__content">

  <Label
    text="Configuración de usuario"
    class="h2 text-center">
  </Label>

  <Label
    text="Nombre de usuario:">
  </Label>

  <TextField
    hint="Escribe tu nombre"
    [(ngModel)]="nombreUsuario">
  </TextField>

  <Button
    text="Guardar nombre"
    (tap)="guardarNombre()">
  </Button>

  <Label
    [text]="'Usuario guardado: ' + nombreUsuario"
    class="m-t-20">
  </Label>

</StackLayout>